.footer{
    background-color: #efefef;
    // z-index: 5;
    // position: relative;
}
.footer__content{
    min-height: 54px;
    padding: 15px 0;

    @media(min-width: 375px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.footer__items{
    display: none;

    @media(min-width: 1281px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer__item:not(:last-child) {
        margin-right: 70px;
    }
    
    @media(max-width: 1280px) {
        display: none;
    }
}
.footer__item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: $colorFooter;

    @media(min-width: 1281px){
        &:not(:last-child) {
            margin-right: 70px;
        }
    }
}
.footer__social{
    display: flex;
}
.footer__copy{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $colorFooter;

    &:not(:last-child) {
            margin-right: 35px;
        }

    @media(max-width: 374px) {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
.social__item:not(:last-child){
    margin-right: 10px;
}